.footer {
  background-color: #f78229;
  color: white;
  // position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: auto;
  padding: 0.2em 1em;
  position: fixed;
}
.footer-content {
  margin-top: 4px;
  height: 12px;
}
